@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
}

th,td{
    border: 1px solid black;
    padding: 10px;
}

#cinza,thead{
    background-color: gray;
    color: white;
    font-weight: bold;
    border: 1px solid black;
}