@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fonte1: "Roboto Condensed", sans-serif;
    --fonte2: "DM Sans", sans-serif;
}

body {
    background-image: url('image/fundo-madeira.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


div#phone{
    background-image: url('image/frame-iphone.png');
    width: 19.5em;
    height: 39em;
    margin: auto;
    background-size: cover;
    background-position: center;
}

iframe#pag01{
    padding-top: 78px;
    display: block;
    width: 100%;
    max-width: 267px;
    height: 472px;
    margin: 0 auto;
}